---
- name: Create user {{ ansible_user }}
  user:
    name: "{{ ansible_user }}"
    shell: "{{ ansible_user_shell }}"

- name: Add authorized keys for {{ ansible_user }} from files
  authorized_key:
    user: "{{ ansible_user }}"
    key: "{{ lookup('file', item) }}"
  with_items: "{{ ansible_user_public_keys }}"

- name: Create sudoers.d directory
  file:
    path: /etc/sudoers.d
    owner: root
    group: root
    mode: 0755
    state: directory

- name: Include sudoers.d directory in sudoers file
  lineinfile:
    dest: /etc/sudoers
    line: "#includedir /etc/sudoers.d"
    state: present
    validate: "/usr/sbin/visudo -cf %s"

- name: create sudoer file for admin
  template:
    src: sudoers.d.j2
    dest: "/etc/sudoers.d/{{ ansible_user }}"
    mode: 0440
    owner: root
    group: root
    validate: "/usr/sbin/visudo -cf %s"
